table.tabellHeadToHead{
    background-color: white;
    box-shadow: 0 0 35px black;
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    align-self: center;
}
h2{
    text-align: center;
}
td.tabellHeadToHead{
    text-align: center;
    border: 1px solid black;
}
th.tabellHeadToHead{
    text-align: center;
    border: 1px solid black;
}
