table.tabellHeadToHead{
    background-color: white;
    border-collapse: collapse;
    width: 800px;
    align-self: center;
}
h2{
    text-align: center;
}
td.tabellHeadToHead{
    text-align: center;
    border: 1px solid black;
}
th.tabellHeadToHead{
    text-align: center;
    border: 1px solid black;
}

table.infoHeadtoHead{
    width: 800px;
    align-self: center;
    padding: 0;
    display: flex;
  
  }

td.infoHeadtoHead{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}