td.tabellverdier{
    text-align: center;
}

td.serielederLag{
  background-color: green;
}
td.serielederVerdier{
  background-color: green;
  text-align: center;
}

td.europakvalikkLag{
  background-color: lightgreen;
}
td.europakvalikkVerdier{
  background-color: lightgreen;
  text-align: center;
}

td.kvalikkLag{
  background-color: lightcoral;
}
td.kvalikkVerdier{
  background-color: lightcoral;
  text-align: center;
}

td.nedrykkLag{
  background-color: red;
}
td.nedrykkVerdier{
  background-color: red;
  text-align: center;
}

th.Lag{
  text-align: left;
}

.LinkColor{
    color: black;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
table.tableEliteserien{
background-color: white;
box-shadow: 0 0 35px black;
align-self: center;
border-collapse: collapse;
border: 1px solid black;
border-spacing: 0;
width: 500px;
}

.center{
  align-self: center;
}
button{
  font-size: 20px;
  padding: 20px;
}
.tableView {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

table.simulatedMatches{
  background-color: white;
  align-self: center;
  margin-bottom: 70px;
  margin-top: 40px;
}
td.padding{
  padding-right: 40px;
}