td.tabellverdier{
    text-align: center;
}
td.strek{
  border-bottom: 4px solid black;
}

th.Lag{
  text-align: left;
}

.LinkColor{
    color: black;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
table.tableEliteserien{
width: 50%;
}
